  <%= link_to "Articles", articles_path %>
<%@articulos.each do |art|%>
  <div class="jumbotron color-b">
    <h2 class="text-center">
    <%= link_to art.title, art %>
    </h2>
  </div>
  <p><%= art.body %></p>
<%end%>
