<style type="text/css" media="screen">
  <%= ".#{category.name}" %> {
    background: <%= category.color %> !important;
  }
</style>

<div class="col-md-3">
  <div class="jumbotron <%= "#{category.name}" %> ">
    <%= category.name %>

  </div>
</div>
